* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(30, 28, 28);
    color: white;
    margin: 0 15px;
}

nav {
    padding: 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(78, 74, 74);


}

nav ul {
    display: flex;
}

nav ul li {
    list-style-type: none;

}

nav a {
    text-decoration: none;
    color: white;
    padding: 20px;
}

nav a:hover {
    transition-duration: 0.45s;
    color: rgb(227, 209, 209);
    font-size: 1.1rem;
}

.ls {
    font-size: 1.3rem;
}

.left {
    font-size: 1.5rem;
}

main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    margin: 0 23px;
}

main h1 {
    color: rgb(177, 139, 212);
}

main img {
    height: 400px;
}

#EDUCATION {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;


}


#EDUCATION img {
    height: 200px;
    width: 200px;
    padding-left: 100px;
}

#EDUCATION h3 {
    padding-left: 15%;
}

.container {
    width: 30%;
    height: 100%;
    padding: 10px;
    padding-left: 10px;

    background-color: rgb(57, 55, 55);
    border: 2px solid rgb(156, 147, 147);
    border-radius: 20px;

}

.container2 {
    width: 30%;
    height: 40%;
    padding: 10px;
    padding-left: 10px;
    background-color: rgb(57, 55, 55);
    border: 2px solid rgb(156, 147, 147);
    border-radius: 20px;

}

.container3 {
    width: 30%;
    height: 40%;
    padding: 10px;
    padding-left: 10px;
    background-color: rgb(57, 55, 55);
    border: 2px solid rgb(156, 147, 147);
    border-radius: 20px;

}

.content {
    width: 100%;
    height: 60%;

    justify-content: center;
}

.content p {
    padding-left: 40px;
    font-size: 1.3rem;
}

.a {
    padding: 10px;
    padding-left: 30%;
}

.content a {
    background-color: rgb(170, 174, 177);
    text-decoration: none;
    color: black;
    padding: 2%;
    padding-left: 10px;
    border-radius: 20px;
}

.content a:hover {
    transition-duration: 0.45s;
    color: white;
    background-color: black;
}

#skills {
    display: flex;
    justify-content: space-evenly;
}




#skills img {
    height: 250px;
    width: 250px;
    padding: 10px;
}

.card {
    border: 2px solid rgb(156, 147, 147);
    background-color: rgb(57, 55, 55);
    border-radius: 20px;
    padding: 10px;

}

.card h3 {
    padding-left: 35%;
}


#social {
    display: flex;
    padding: 30px;
    align-items: center;
    padding-left: 40%;

}

footer {
    background-color: rgb(78, 74, 74);
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 2rem;
    padding-left: 30px;
}

.fb a:hover {
    color: rgb(113, 129, 231);
    transition-duration: 0.45s;
    font-size: 2.5rem;

}

.ig a:hover {
    color: rgb(220, 151, 151);
    transition-duration: 0.45s;
    font-size: 2.5rem;

}

.tw a:hover {
    color: rgb(103, 167, 236);
    transition-duration: 0.45s;
    font-size: 2.5rem;

}

.github a:hover {
    color: rgb(134, 210, 68);
    transition-duration: 0.45s;
    font-size: 2.5rem;

}

footer h4 {
    padding-left: 38%;
}

h3 {
    padding: 10px;
}

span {
    color: rgb(177, 139, 212);
}

#about {
    height: 70%;
    width: 60%;
    padding: 10px;
    padding-left: 20%;
}

#about p {
    font-size: 1.3rem;
}

.rs {
    box-shadow: 4px 4px 10px rgb(129, 128, 128);
    border-radius: 50%;
}

.rs img {
    border-radius: 50%;
}

h2 {
    padding: 13px;
    padding-left: 45%;

}

footer section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-left: 0%;
}

footer h4 {
    padding: 10px;
    padding-left: 38%;
    font-size: 1.1rem;
}
